version: '3.8'
services:
  recognize-backend:
    container_name: recognize-backend
    build: ./recognize-backend
    ports:
      - "8000:8000"
    depends_on:
      minio:
        condition: service_healthy
    restart: always
  
  minio:
    container_name: s3
    image: minio/minio
    environment:
      MINIO_ROOT_USER: ${S3_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${S3_SECRET_KEY}
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    restart: always

volumes:
  minio_data:
