version: '3.8'
services:
  recognize-backend:
    container_name: recognize-backend
    build: ./recognize-backend
    ports:
      - "8000:8000"
    environment:
      HTTP_PROXY_SERVER: ${HTTP_PROXY_SERVER}
      OPENAI_API_BASE: ${OPENAI_API_BASE}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      OPENAI_GPT_MODEL: ${OPENAI_GPT_MODEL}
      S3_ENDPOINT: http://minio:9000
      S3_ACCESS_KEY: ${S3_ACCESS_KEY}
      S3_SECRET_KEY: ${S3_SECRET_KEY}
      S3_BUCKET_NAME: ${S3_BUCKET_NAME}
      DB_NAME: ${POSTGRES_DB}
      DB_HOST: db
      DB_PORT: 5432
      DB_PASS: ${POSTGRES_PASSWORD}
      DB_USER: ${POSTGRES_USER}
    depends_on:
      minio:
        condition: service_healthy
      main-backend:
        condition: service_started
    restart: always

  main-backend:
    container_name: main-backend
    build: ./main-backend
    ports:
      - "4000:4000"
    environment:
      ML_API_URL: http://recognize-backend:8000/api/v1
      NODE_ENV: production
      APPLICATION_PORT: 4000
      SWAGGER_URL: http://localhost
      SWAGGER_PATH: docs
      REDIS_HOST: redis
      REDIS_PORT: 6379
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_URL: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

    restart: always
  
  minio:
    container_name: s3
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${S3_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${S3_SECRET_KEY}
    volumes:
      - s3_data:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always
  
  db:
    container_name: db
    image: postgres
    user: postgres
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always

  redis:
    container_name: redis
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: >
      sh -c '
        mkdir -p /usr/local/etc/redis &&
        echo "bind 0.0.0.0" > /usr/local/etc/redis/redis.conf &&
        echo "save 30 1" >> /usr/local/etc/redis/redis.conf &&
        echo "notify-keyspace-events Ex" >> /usr/local/etc/redis/redis.conf &&
        redis-server /usr/local/etc/redis/redis.conf
      '
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: always

volumes:
  s3_data:
  db-data:
  redis-data:
